.card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
