.card {
  transition: transform 0.6s, scale 0.6s;
  transform-style: preserve-3d;
}
.card.flip {
  transform: rotateY(180deg);
  z-index: 10;
  scale: 2;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

@media (max-width: 480px) {
  /* Your CSS styles for smartphones here */
  .card.flip {
    transform: rotateY(180deg);
    scale: 1.15;
  }
}
