---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <section class="flex flex-col">
    <h2
      class="text-6xl py-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-light-primary dark:from-primary dark:to-pink-900"
    >
      Let me talk you about myself
    </h2>
    <p class="text-xl">
      I'm a web developer passionate about technology and programming. I'm
      currently working as a frontend developer at <a
        href="https://softtek.com"
        target="_blank"
        class="text-blue-400">Softtek</a
      >
    </p>
    <br />
    <p>I'm also learning about new technologies:</p>
    <ul>
      <li>Astro</li>
      <li>React</li>
      <li>React native</li>
      <li>Next.js</li>
      <li>Flutter</li>
    </ul>
  </section>
</Layout>
