---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <section class="flex flex-col">
    <Heading title="About me" textGradient size="h2" />
    (Page under contruction 🚧) <br />
    <p class="text-xl">
      I'm a web developer passionate about technology and programming. I'm
      currently working as a frontend developer at <a
        href="https://softtek.com"
        target="_blank"
        class="text-blue-400">Softtek</a
      >
    </p>
    <br />
    <p>I'm also learning about new technologies:</p>
    <ul>
      <li>Astro</li>
      <li>React</li>
      <li>React native</li>
      <li>Next.js</li>
      <li>Flutter</li>
    </ul>
  </section>
</Layout>
