---
import Layout from '../layouts/Layout.astro';
---

<Layout title="AlexHM | Welcome">
  <main>
    <div class="mt-6">
      <div
        class="sm:py-4 text-3xl sm:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-light-primary dark:from-red-400 dark:to-primary"
      >
        Welcome to my website!
      </div>
      <p class="text-xl mt-10">
        This is my personal website where I publish my toughts and share some
        knwoledge.
        <br />
        Feel free to navigate and explore it!
      </p>
      <hr class="mt-8 mb-8" />
      <p class="text-xl">
        I'm a web developer passionate about technology and programming. I'm
        currently working as a full-stack developer at <a
          href="https://vianney.com.mx/"
          target="_blank"
          class="text-blue-400">Vianney</a
        >
      </p>
      <br />
      <p>I'm also learning about new technologies:</p>
      <ul>
        <li>Astro</li>
        <li>React</li>
        <li>React native</li>
        <li>Next.js</li>
        <li>Flutter</li>
      </ul>
    </div>
  </main>
</Layout>
