---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
  <section class="flex flex-col items-center">
    <Heading title="Welcome to my website!" textGradient />
    <p class="text-xl md:text-2xl mt-10">
      This is my personal website where I publish my toughts and share some
      knwoledge.
      <br />
      Feel free to navigate and explore it!
    </p>
  </section>
</Layout>
