---
import Layout from '../layouts/Layout.astro';
import logo from '../assets/logos/logoRED.svg';
---

<Layout title="AlexHM | Welcome">
  <main>
    <div class="flex flex-row items-center gap-2 mt-3">
      <div>
        <img src={logo} alt="logo" class="w-12" />
      </div>
      <div>
        <h1 class="text-2xl font-bold">AlexHM</h1>
      </div>
    </div>
    <div class="mt-6">
      <h1 class="text-5xl font-bold">Welcome to my website!</h1>
      <p class="text-xl mt-10">
        This is my personal website where I publish my toughts and share some
        knwoledge.
        <br />
        Feel free to navigate and explore it!
      </p>
      <hr class="mt-8 mb-8" />
      <p class="text-xl">
        I'm a web developer passionate about technology and programming. I'm
        currently working as a full-stack developer at <a
          href="https://vianney.com.mx/"
          target="_blank"
          class="text-blue-400">Vianney</a
        >
      </p>
      <br />
      <p>I'm also learning about new technologies:</p>
      <ul>
        <li>Astro</li>
        <li>React</li>
        <li>React native</li>
        <li>Next.js</li>
        <li>Flutter</li>
      </ul>
    </div>
  </main>
</Layout>
