---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard';
import Heading from '../components/Heading.astro';
import heart from '/icons/heart.svg';
import { projects } from '../content/projects';
---

<Layout title="projects">
  <section class="flex flex-col gap-4">
    <Heading title="My projects" textGradient size="h2" />
    <p class="text-xl font-bold">
      Here are my own projects, all made with love ❤️
    </p>
    <div class="grid gap-4 md:grid-cols-3">
      {
        projects.map((project) => (
          <ProjectCard key={project.repo} project={project} client:visible />
        ))
      }
    </div>
  </section>
</Layout>
