---
import DarkModeToggle from '../components/DarkModeToggle';
import logo from '/logos/logoRED.svg';
import logoLight from '/logos/logoBLUE.svg';
import github from '/icons/github-loop.svg';
import githubLight from '/icons/github-loop-light.svg';
---

<nav class="flex justify-between">
  <a
    class="flex cursor-pointer items-center gap-2 transition-transform duration-300 hover:scale-125 hover:ease-in-out"
    href="/"
  >
    <div>
      <img src={logo} alt="logo" class="hidden w-12 dark:flex" />
      <img src={logoLight} alt="logo" class="w-12 dark:hidden" />
    </div>
    <div>
      <h1 class="text-2xl font-bold">AlexHM</h1>
    </div>
  </a>
  <div class="flex items-center">
    <DarkModeToggle client:only="react" />
    <a
      class="ml-2 inline-flex cursor-pointer items-center font-bold transition-transform duration-300 hover:scale-125 hover:ease-in-out"
      href="https://www.github.com/alexhmdev"
      target="_blank"
    >
      <img src={githubLight} alt="github" class="w-12 dark:hidden" />
      <img src={github} alt="github" class="hidden w-12 dark:flex" />
      <p class="hidden sm:flex">Github</p>
    </a>
  </div>
</nav>
