---
---

<a href="/" class="hover:underline hover:text-xl">Home</a>
<a href="/about" class="hover:underline hover:text-xl">About</a>
<a href="/projects" class="hover:underline hover:text-xl">Projects</a>
